<div class="container">

  <div class="row">

    <div class="col-lg-12">
      <h1 class="page-header">FAQ
        <small>Frequently Asked Questions</small>
      </h1>
      <ol class="breadcrumb">
        <li><%= link_to 'Home', root_path %></li>
        <li class="active">FAQ</li>
      </ol>
    </div>

  </div>

  <div class="row">

    <div class="col-lg-12">

      <div class="panel-group" id="accordion">

        <% @faqs.each do |faq| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
               <%= faq.title %>
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
             <%= faq.description.html_safe %>
            </div>
          </div>
        </div>
        <% end %>

      </div>

    </div>

  </div>

</div>
<!-- /.container -->